
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

<%= form_for @route do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>

<div id="map_canvas" style="width:600px; height:400px"></div>

<div id="map_controls">
	<%= link_to_function "Add Marker", 'map.mode("add_marker")'%>
	<%= link_to_function "Add Polyline", 'map.mode("add_poly")'%>
	<%= link_to_function "Submit", 'map.serialize()'%>
</div>

<%= f.label :description %>
<%= f.text_area :description %>
<%= f.hidden_field :gmap_coords %>

<%= f.submit %>
<% end %>

<script type="text/javascript"> 
$(document).ready(function(){
    map = new Map();
    map.show_canvas();
    map.mode('add_marker');
})

</script>
