<%= form_for @route do |f| %>
	<div class='map_form'>
		<div class='field'>
			<%= f.label :name %>
			<%= f.text_field :name %>
			<span class='error'> <%= @route.errors[:name] %></span>
		</div>
	</div>
	
	<div id="edit_map">
		<%= render :partial => 'routes/canvas', :locals => {:size => :large, :mode => :add_marker }%>
		
		<div id="map_controls">
			<%= link_to_function "Add Marker", 'map.mode("add_marker")'%> <br />
			<%= link_to_function "Add Polyline", 'map.mode("add_poly")'%>
		</div>
	</div>
	
	<div class='map_form'>
		
		<div class='field'>
			<% @sports.each do |sport| %>
				<%= label_tag sport.name%>
				<%= check_box_tag 'route[sport_ids][]', sport.id, @route.sports.include?(sport) %>
			<% end %>
		</div>
		
		<div class='field'>
			<%= label_tag :description %>
			<%= f.text_area :description %>
			<span class='error'> <%= @route.errors[:description] %></span>
		</div>
		
		<%= f.hidden_field :gmap_coords %>
		<div class='actions'>
			<%= f.submit %>
		</div>
	</div>
<% end %>